@import	url("Components/container.css");
@import	url("Components/banner.css");
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Source code pro', Calibri, serif;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: lightgrey;
}
.presEntreprise{
	padding: 100px 10px;
}
nav{
	width: 100%;
	background-color:#012152;
}
nav ul{
	margin: 0px;
	padding: 0px;
}

nav ul::after {
	content: "";
	display: block;
	clear:  both;
}
nav ul li{
	float: left;
	position:  relative;
}
nav ul li a{
	padding: 20px 30px;
	color: #FFF;
}
nav ul li:hover a{
	padding: 15px 30px 20px 30px;
}
nav li{
	list-style-type: none;
}

.submenu{
	display: none;
	background-color: lightgrey;
}
nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left:0px;
	padding: 0px;
	z-index: 1000;
}
.submenu li{
	border-bottom: 1px solid transparent;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}
	
/* Couleur des titres*/
.menuindustriel:hover{
	border-top: 5px solid #e44d26;
	background-color: rgba(255, 77, 38, 0.15);
}
.menufinanciere:hover{
	border-top: 5px solid #0070bb;
	background-color:rgba(0,255,255,0.15);
}
.menuconseil:hover{
	border-top: 5px solid #f1dc4f;
	background-color:rgba(255, 100, 0, 0.15);
}
.presEntreprise{
	background-color: lightgrey;
	background:lightsteelblue;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0/ 10%);
}
H2{
	padding: 30px;
    margin: 25px;
    box-shadow: 0px 5px 15px rgb(0 0 0/ 10%);
    text-align: right;
    background-color: #012152;
    color: lightgrey;
    font-size: 25px;
}
H3{
	font-family: Merryweather;
	font-weight: bold;
}
p{
	font-family: Raleway serif;

}
.p1{
	text-align: right;
	font-size: 17px;
	color: #FFF;
	font-weight: bold;
}
#lienladefense{
	padding: 12px 15px;
	font-size: 17px;
	text-decoration: none;
	color: cyan;
}

.img-circle{
	width: 	100px;
}
.energetique{
	padding-right: 0px;
}
